#ifndef SECRET
#define SECRET

#define WIFI_SSID "myssid"
#define WIFI_PASSWORD "mypassword"

#define MQTT_SERVER "your_server"
#define MQTT_PORT 1883
#define MQTT_CLIENT_ID "sensor1"
#define MQTT_MESSAGE_TOPIC "bain_sensor/sensor_1"

// Leave blank to disable auth.
#define MQTT_USERNAME "your_username"
#define MQTT_PASSWORD "your_password"

#endif